<div class="title">
<h2>Events</h2>
</div>
<div class="card" ng-repeat="event in events | orderBy : 'times.begin'">

    <div class="cardTitle"><a href="#/events/{{event.id}}/guests" >{{event.name}}</a></div>
    <div>{{event.times.begin | date: 'HH:mm - dd.MM.yyyy'}}</div>
    <div>{{event.location.street}} {{event.location.city}}</div>
    <div ng-show="event.guests.length">
        G&auml;ste:
        <div ng-repeat="guest in event.guests">
            {{guest.name}}
        </div>
    </div>
    <div ng-show="!event.guests.length">
        <div>Keine G&auml;ste:</div>
    </div>
</div>
<div class="card">
    <div>
        <a href="#/events/create"><i class="fa fa-plus" left></i>Create new Event</a>
    </div>
</div>