<div class="title">
    <h2>Guests</h2>
</div>
<div class="card" ng-repeat="guest in guests | filter:{canceled:false}">
    <div>{{guest.name}}</div>

    <div ng-hide="!guest.contribution">Gifts: {{guest.contribution}}</div>

    <div ng-hide="!guest.comment">Comment: {{guest.comment}}</div>

    <br>
    <div style="text-align: right">
        <a href="#/events/{{eventId}}/guests" ng-click="signOut(guest.id)">Abmelden <i class="fa fa-sign-out" right></i></a>
        <a href="#/events/{{eventId}}/guest/{{guest.id}}/edit">Editieren <i class="fa fa-pencil" right></i></a>
    </div>
</div>

<div class="card"><a href="#/events/{{eventId}}/addGuest"><i class="fa fa-plus" left></i> Anmelden</a></div>

<div class="card"><a href="#/events"><i class="fa fa-arrow-left"></i> Zurück</a></div>

